* {
    font-family: 'Poppins', sans-serif;


padding : 0;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
background-repeat: no-repeat;
background-repeat: space;
}
.total{
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
} 
.top {
 display: flex;
 justify-content: space-evenly;
}

.learnToCode {
    color: white;
    width: 65%;
    text-align: center;
    margin-top: 4rem;
    font-size: 1.5rem;
    align-self: center;
    margin-bottom:1.3rem;
}
.paraContainer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 3rem;
}
.para1{
    width: 80%;
    text-align: center;
    font-size: small;

}
.btn{
    width: 86%;
    padding-top: 0.8rem  ;
    padding-bottom: 0.8rem  ;
    border-radius: 0.6rem;
    background-color:  hsl(248, 32%, 49%);
    color: white;
    margin-bottom: 0.8rem;
    border-style: none;
    font-size: small;
    text-align: center;
}
.btn nav {
    background-color:  hsl(248, 32%, 49%);
    font-weight: bold;
}



.forM {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  border-radius: 0.5rem;
}
.fEle {
    width: 90%;
    margin: 0.5rem auto;
    margin-left: 5%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: white;
    padding-left: 10px;
    border-radius: 0.4rem;
    border-style: solid ;
    border-color:rgb(209, 207, 207);
    border-width: 1px;
    height: 2.5rem;
    font-size: x-small;
    font-weight: bold;
}
.forM {
    background-color: white;
    width: 90%;
    margin-left:5% ;
    border: solid;
color: white;
display: flex;
justify-content: center;
opacity: 100%;


    }
.btn2 {
    background-color:  hsl(154, 59%, 51%);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.7px;
    width: 90%;
    margin-left: 5%;
    height: 2.6rem;
    border-radius: 0.4rem;
    border-style: none;
    padding-bottom: 0.1rem;

}
form {
    background-color: white;
    margin-bottom: 1rem;

}
.copyright {
    margin-top: 0.1rem;
    display: inline;
    background-color: white;
    color: gray;
    font-size:  x-small;
    width: 80%;
    
    
}
.ts {
    margin-left: 4px;
    color: red;
    padding-left: -5px;
    display: inline;
}
.bottom {
    background-color: white;
width: 80%;
justify-content: center;
margin-left: 10%;
}



@media (min-width: 1024px){
*{
     overflow: hidden;
}
    .total {
    display: flex;
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    
    margin-bottom: 2cm;
    padding-bottom: 3.7cm;
    overflow: hidden;
    

}
.container1{
    margin-top: 20vh;
}
.one {
    margin-top: 27px;
}
.container2 {
    
    margin-top: 20vh;
    margin-right: 2cm;
}
.para1{
    width: 65%;
    font-size: small;
    font-weight: bold;
    justify-content: left;
}
.btn {
    width: 90%;
    text-align: line;
    
}
.copyright {
    width: 100%;
    display: inline;
}
.ts{
    padding-left: 1px;
}
.learnToCode {
    font-size: 2.6rem;
    width: 80%;
}
.nav1 {
    display: inline;
}
.ts {
    display: inline;
    margin-left: 2px;
}
.bottom {
background-color: white;
padding-bottom: 1cm ;
}
}